// Place all the styles related to the work_schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
	background-color: #DDDDDD;
}

li {
	list-style-type:none;
}

.flex_container{
	display:flex;

}


.flex_container2{
	// display:flex;
	flex-direction:column;
	// justify-content: space-around;
	
}

#title{
	font-size: 10px;
	font: bold;
}

.changeProcessSpace{
	// border: solid;
	border-radius: 10px;
	background-color: #BBBBBB;
	height: 50px;

	overflow:hidden;
  // flex-direction: row;
  justify-content: space-around;
  align-items: center;
		// display: grid;
  // place-items: center;
}

// #button_UI{
// 	background-color: #FFCC99;
// 	border-color: #FFCC99;
// }

// #button_PG{
// 	background-color: #CCCC99;
// 	border-color: #CCCC99;
// }

// #button_PT{
// 	background-color: #99CC99;
// 	border-color: #99CC99;
// }

// #button_IT{
// 	background-color: #66CC99;
// 	// border-color: #66CC99;
// 	border-color: red;
// }

// #button_IT:hover{
// background-color: blue;
// border-color: #66CC99;
// }



// #button_ST{
// 	background-color: #33CC99;
// 	border-color: #33CC99;
// }

.color_UI{
	background-color: #FFCC99;
	border-color: #FFCC99;
}

.color_PG{
	background-color: #CCCC99;
	border-color: #CCCC99;
}

.color_PT{
	background-color: #99CC99;
	border-color: #99CC99;
}

.color_IT{
	background-color: #66CC99 	;
	border-color: #66CC99 	;
}

.color_ST{
	background-color: #33CC99;
	border-color: #33CC99;
}

// .color_ST:hover{
// 	background-color: blue;
// }

.btn:hover{
	background-color: lightblue;
	// border-color: red;
}

#button_status{
	visibility: hidden;
	display: none;
}

.task{
	width: 300px;
	height: 500px;



	overflow:hidden;
		// flex-direction:column;
}





.radio_system_proccesing{
	width: 500px;
	height: 100px;

	border: solid;
}

.input_work{
	width: 800px;
	height: 600px;

	border: solid;
	border-radius: 10px;
	border-color: #BBBBBB;

	margin: 0px 10px;

	background-color: #BBBBBB;
}

.work_space{
	width: 500px;
	height: 500px;

	// border: solid;
	// border-color: green;
	border-radius: 10px;


	// background-color: #BAD3FF;
	background-color: #EEEEEE;	
	position: relative;
}

#dropHere{
	font-size: 50px;
	color: gray;

	position: absolute;
	top: 175px;
	left: 100px;
}





.data-work_object{
  width: 75px;
	height: 25px;

	margin: 10px;

	background-color: rgba(100, 100, 100, 0.3);
	// border: solid;
	// border-color: green;
	border-radius: 10px;
	text-align: center;
	
	box-shadow: 2px 2px 2px 2px;
	opacity: 0;
}

.work_space_for_calc{
	width: 300px;
	height: 500px;
	background-color: #DDDDDD;

	// border: solid;
	// border-color: yellow;
	border-radius: 10px;

	position: relative;
}


#AutomaticCalculation{
	font-size: 50px;
	color: gray;

	position: absolute;
	top: 150px;
	left: 35px;

	// z-index: 0;	
}

.calc_zone{
	// border: solid;
	// border-color: blue;

	// background-color: 
	// border-radius: 10px;
}

#calcSum{
	width:  300px;
	height: 40px;
	background-color: #BBBBBB;

	// border: solid 1px;
	box-shadow: 1px 3px;
	border-color: #AAAAAA;

	border-radius: 10px;

}

.calcDataComponent{
	// position: relative;
	width: 250px;
	height: 50px;

	margin: 10px;
	background-color: #AAAAAA;
  // color: navy;
  color: white;

	// font-size: 30px;
	font-weight: bold;
	// border: dotted 2px;
	// border-color: red;
	border-radius: 10px;
	box-shadow: 2px 2px 2px 2px black;

	z-index: 2;
}

#showTmpTaskArea{
	opacity: 0;
	position: absolute;
	// position: relative;
	width: 0px;
	// width: 100%;
	height: 0px;
	// height: 100%;
	transition: 0.5s;

}

#listSpace{
	height: 350px;
}

.list{
	width: 200px;
	height: 50px;

	// margin: auto;

	margin: 5px auto;

	// border: solid;
	border-radius: 10px;
	// border-color: lightblue;

	background-color: white;

	// text-align: center;
	// vertical-align: middle;
	display: grid;
  place-items: center;

  box-shadow: 0px 1px;
}

.list:hover{
	background-color: #EEEEEE;
}

.page_num{
	height: 25px;
	width:  25px;

	border: solid;
	border-radius: 30px;
	border-color: #EEEEEE;

	background-color: #EEEEEE;

	display: grid;
  place-items: center;
}

.page_num:hover{
	border-color: #DDDDDD;
	background-color: #DDDDDD;
}

#showTasksSpace{
	overflow:hidden;
	// padding-top: 1px;
	position: relative;
	height: 450px;

	border: solid;
	border-color: #FFCC99;
	border-radius: 10px;
}

#inputWork_footer{
	justify-content:space-between;
}

.submitbutton{
	// background-color: red;
	background-image: none;
	border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid #aaa;

  padding: 5px 8px;
  color: #fff;
  background-color: #666;
  border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
}

.submitbutton:active{
	// background-color: red;
	border-bottom: none;
  background-color: #888;
}

.btn-submit{
  width: 300px;
  height: 50px;
  padding: 5px 8px;
  border-radius: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid #aaa;
  background-image: none;
  background-color: #666;
  font-size: 20px;
  color: #fff;
}

#showTmpTaskArea.tmpTaskList{
	opacity: 1;

	width: 100%;
	// height: 300px;
	height: 100%;

	background-color: white;
}

.showDelay{
	opacity: 1;
	transition: 0.5s;
	background-color: lightblue;
}

.deleteClass{
	height: 0%;
	width: 0%;

	// transition: 0.5s;
}

#drag_image{
	position: absolute;
	top: -1000px;
	font-family: bold;

	width: 120px;
	height: 40px;

  // border: solid;
  // border-color: black;

  background-color: rgba(255, 204, 153, 1);
  border-radius: 10px;

  box-shadow: 2px 2px 2px 2px black;

}

#hidden_WorkingDate{
	visibility: hidden;
}


#backArea{

  // width: 10px;
  // height: 10px;

  // display: flex;
  display: none;
}


#backButton{
	position: relative;
  width: 40px;
  height: 40px;

  // font-size: 30px;
  // font: bold;

  background-color: #EEEEEE;
  border:  3px  solid;
  border-color: #DDDDDD;
  opacity:  1;

  border-radius: 120px;


}

.arrow-round {
  position: relative;
  top:  15px;
  left: 5px;
  display: block;
  width: 20px;
  height: 4px;
  border-radius: 5px;
  // background-color: #1E88E5;
  background-color: #999999;
}
.arrow-round::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 8px;
  display: block;
  width: 13px;
  height: 5px;
  border-radius: 5px;
  // background-color: #FDD835;
  background-color: #999999;
  transform: rotate(45deg);
}
.arrow-round::after {
  content: "";
  position: absolute;
  bottom: 4px;
  right: 8px;
  display: block;
  width: 13px;
  height: 5px;
  border-radius: 5px;
  // background-color: #e53935;
  background-color: #999999;
  transform: rotate(135deg);
}

#showProjectName{
  width: 250px;
  height: 40px;

  background-color: #EEEEEE;
  
  border: 3px  solid;
  border-color: #DDDDDD;
  opacity:  1;

  border-radius: 120px;

  display: grid;
  place-items: center;
}


.dropedTasks{
	position: relative;
	opacity: 1;

	z-index: 2;
}


	.line1{
		top: 10px;
	}
	.line2{
		top: 20px;
	}
	.line3{
		top: 30px;
	}

.clicked{
	.line1{
		transform: rotate(45deg);
		top: 20px;
	}
	.line2{
		// width: 0px;
		display: none;
	}
	.line3{
		transform: rotate(-45deg);
		top: 20px;
	}
	.menu {
		right: 8px;
	}




}

#hamburgerMenu{
	position: relative;
	width:  40px;
	height: 40px;
	background-color: #BBBBBB;
	cursor: pointer;

	transition: all 0.3s;
	z-index: 200;

	.hamburgerMenuLine{
		position: absolute;
	  left: 10px;
	  width: 20px;
	  height: 1px;
		background-color: #333333;
	}

}


.menu {
	position: fixed;
	width: 300px;
	height: 300px;
	right: -1400px;
	background-color: aquamarine;
	transition: all 0.3s;
	top: 100px;
	z-index: 200;

	// display: none;

	.register_work{
		position: absolute;
		left: -500px;
		width: 500px;
		height: 400px;

		border: solid;
		// border-color: red;
		
		background-color: white;
	}
}






	#allWrapper{
		position: fixed;
		width:  0%;
		height: 0%;
		opacity: 0.5;
		background-color: black;
		z-index: 200;

		&.clicked{
			width: 100%;
			height:  100%;
		}

}